<!doctype HTML>

{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Jotto Web{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'jotto/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'jotto/style.css' %}" />
</head>

<body>
    <nav>
        <ol>
            {% block sidebar %}
                <li><a href="{% url 'jotto:index' %}">Index</a></li>
                <li><a href="{% url 'jotto:pre_session' %}">New game</a></li>
                <li><a href="{% url 'jotto:open_sessions' %}">Games open</a></li>
                <li><a href="{% url 'jotto:closed_sessions' %}">Games closed</a></li>
            {% endblock %}
        </ol>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        Jotto Web was inspired by assignment 7 of the MIT
        <a href="http://dspace.mit.edu/handle/1721.1/106923">OCW 6.005 course, 2011 version</a>.<br>
        Its source code is available on <a href="https://github.com/newnone/Jotto-Web">GitHub</a> for open viewing and
        contributions.
    </footer>
</body>
</html>