{% extends "jotto/base.html" %}

{% block title %}Games still open | {{ block.super}}{% endblock %}

{% block content %}
    {% if sessions %}
        <div>
            <h3>{{ sessions|length }} games still open</h3>
            <ul>
                {% for s in sessions %}
                    <li><a href="{% url 'jotto:session' s.id %}">Game {{ s.id }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>
            There are no open games to display.<br>
            If you wish, you can <a href="{% url 'jotto:pre_session' %}">start a new game</a>.
        </p>
    {% endif %}
{% endblock %}